
#cli{
    border: 4px solid;
    border-color: #183d63;
    border-radius: 15px;
    font-family:monospace;
    font-size: 50;
    width: 1200;
    height: 60;
    border-width: 10;
    background: #183d63;
    color: white;
    margin-top: 20px;
    margin-right: 550px;
    margin-left: 15;
    margin-top: 45px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;

    position: absolute;

}


#cl{
    border: 4px solid;
    border-radius: 15px;

opacity: 0;
    position: relative;
    top: 140;
}


  
body{
    background-color:#3f72a6;
    background-image: url(sun-tornado.png);
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 65px;

}


h1{ 
    border: 4px solid;
    border-color: #183d63;
    border-radius: 15px;
    font-family:monospace;
    font-size: 50;
    width: 1200;
    height: 60;
    background: #183d63;
    color: white;
    margin-top: 20px;
    margin-right: 550px;
    margin-left: 15;
    margin-bottom: 45px;
    margin-top: 45px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;

}

#ty{border: 10px solid; border-color: #183d63; border-radius: 20px;}

#want{    
    
    border: 4px solid;
    border-color: #183d63;
    border-radius: 15px;
    font-family:monospace;
    font-size: 50;
    width: 1200;
    height: 60;
    background: #183d63;
    color: white;
    margin-top: 20px;
    margin-right: 550px;
    margin-left: 15;
    margin-bottom: 45px;
    margin-top: 45px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
}

#earthquake{
    border-radius: 20px; 
    border: 10px solid;  
    width: 300px; 
    height: 250px; 
    border-color: #ddcb6f; 
    margin-left: 68px;

    position: absolute;

    top: 960px;
    left: 197px;

}


#volcanic_eruption{
    border-radius: 20px; 
    border: 10px solid;  
    width: 300px; 
    height: 250px; 
    border-color: #e1737d; 
    margin-left: 70px;

    position: absolute;

    top: 960px;
    left: 613px;

}

#ear{
    border: 10px solid;
    border-color: #96573d;
    border-radius: 6px;
    font-family:monospace;
    font-size: 37;
    width: 330;
    height: 45;
    background: #96573d;
    padding: 5px;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 237px;
    font-weight: 900;
    display: inline-block;

    position: absolute;

    top: 830px;
}

#vol{
    border: 10px solid;
    border-color: #943949;
    border-radius: 7px;
    font-family:monospace;
    font-size: 35;
    width: 330;
    height: 45;
    background: #943949;
    padding: 5px;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 656px;
    font-weight: 900;
    display: inline-block;

    position: absolute;

    top: 830px;
}

#box2{

    border: 10px solid;
    border-radius: 15px;
    width: 360;
    height: 405;
    border-color: #824930;
    background: #cb9759;
    
    position: absolute;
    left: 235px;
    
    }

    #box3{

        border: 10px solid;
        border-radius: 15px;
        width: 360;
        height: 405;
        border-color: #7e2c40;
        background: #cb505e;
        
        position: absolute;
        left: 654px;
        
        }  

        #box4{

            border: 10px solid;
            border-radius: 15px;
            width: 360;
            height: 410;
           
            left: 853px;
            top: 60;

            opacity: 0;
            
            }    
    
   